@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans.ttf);
}

:root {
  --text-color: black;
  --outline-color: rgba(100, 100, 100, .25);

  --outside-border-color: rgba(0, 0, 0, .05);
  --inner-border-color: rgba(0, 0, 0, .2);

  --main-background-color: rgba(255, 255, 255, .8);
  --inner-background-color: rgba(150, 150, 150, .05);
  --hover-background-color: rgba(255, 255, 255, .25);

  --background-layer: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --outline-color: rgba(255, 255, 255, .3);

    --outside-border-color: rgba(255, 255, 255, .05);
    --inner-border-color: rgba(255, 255, 255, .2);

    --main-background-color: rgba(0, 0, 0, .8);
    --inner-background-color: rgba(150, 150, 150, .05);
    --hover-background-color: rgba(75, 75, 75, .25);

    --background-layer: rgba(0, 0, 0, .6);
  }
}

* {
  /* Nothing should have a margin or padding by default */
  /* This should be handled on element-level */
  margin: 0;
  padding: 0;

  /* The font should be Open Sans */
  font-family: 'Open Sans', sans-serif;

  /* The text should be the same color with no decoration everywhere */
  text-decoration: none;
  color: var(--text-color);
  font-size: small;
}

*:focus {
  /* Change outline color for keyboard selection to match the theme */
  outline: .1rem solid var(--outline-color);
}

html,
body {
  /* Making sure the page takes up the entire window in height */
  height: 100%;
}

html {
  /* The background should be a wallpaper */
  background-image: url('../img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  /* The content of the body should be aligned in the middle of the screen */
  display: flex;
  justify-content: center;
  flex-direction: row;

  background-color: var(--background-layer);
}

header {
  /* Make sure the box fills up the screen */
  /* But it can't grow too large or it will lose the start menu resemblence */
  height: 100%;
  width: 100%;
  max-height: 750px;
  max-width: 700px;

  /* Make sure the content of the header is aligned vertically, spacing equally */
  /* The box itself should be at the bottom of it's parent */
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;

  /* The box should have a border-radius and a transparant border */
  /* On desktop, there should be some space between the bottom of the box and the screen */
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: .2rem solid var(--outside-border-color);

  /* Make the background white, slightly transparant and a blur of the wallpaper */
  background-color: var(--main-background-color);
  backdrop-filter: blur(10rem);
}

.search {
  /* There should be enough space in the box for an image at the start */
  /* Give it some space around the edges */
  padding: .5rem .5rem .5rem 3rem;
  margin: 2rem 3rem 0 3rem;

  /* Give the border a radius and make it slightly transparent */
  border-radius: 1rem;
  border: .1rem solid var(--inner-border-color);
  background-color: var(--inner-background-color);
}

.header-footer {
  /* The content is a horizontal line with items on either side of the box */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* There should be a border at the top, radius at the bottom and transparent background */
  border-top: .1rem solid var(--inner-border-color);
  border-radius: 0 0 1rem 1rem;
  background-color: var(--inner-background-color);
}

img {
  /* Images by default should be of a specific with and round */
  width: 2.5rem;
  border-radius: 2.5rem;
}

.content-block {
  /* A contentblock should have some space around it */
  padding: 1rem 4rem;
}

.content-block .title {
  /* The title should be bold, larger then than other text and have some space below */
  font-weight: bold;
  font-size: large;
  margin-bottom: 2vh;
}

.recents {
  /* Recent item columns should be flexed horizontally with space between them */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.recent-column {
  /* The columns should be flexed vertically and grow to fill the space */
  flex-grow: 1;
}

.nav-links {
  /* The navigation links should be displayed in multiple rows */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  /* In order to align the image with the title of the box, increase the size of the box */
  transform: scale(1.05);
}

.nav-link {
  /* The image and the text should be flexed vertically and centered */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* There should be 6 items in a row, spread and with some space around them */
  flex: 1 0 16%;
  gap: .25rem;

  /* Make sure that there is a box around the items to prepare for hovers */
  border-radius: .5rem;
  padding: 1rem 0;
}

.nav-link:hover,
.recent-item:hover,
.personal-info:hover {
  /* Change the background to have a slightly transparant white look */
  background: var(--hover-background-color);
}

.nav-link img {
  /* The image in navigation should have rounded corners and be a little bigger */
  width: 4rem;
  border-radius: .4rem;
}

.recent-list {
  /* The recent list should be aligned vertically with some space in between */
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.recent-item {
  /* The recent item should be a flexed row with some space between the elements */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  /* Make sure that there is a box around the items to prepare for hovers */
  padding: .5rem 0;
  border-radius: .5rem;
}

.recent-details {
  /* The details of the recent item should be flexed vertically with space between them */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recent-subtitle {
  /* The subtitle of the recent item should be smaller and lighter */
  font-size: small;
  font-weight: lighter;
}

.personal-info {
  /* The personal info should be flexed in a row with space between the elements */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  /* The personal info should be small text */
  font-size: small;

  /* Make sure the border has a radius for keyboard selection */
  border-radius: .5rem;
  padding-right: .5rem;
}

.personal-link {
  /* The items need to be aligned horizontally */
  display: inline-block;

  /* Make sure the box has a radius and space for selection with the keyboard */
  border-radius: 50%;
  padding: .5rem;
}

.personal-link img {
  /* The image is a block to contain just the image without extras */
  display: block;
}